.kartya {
  border: 1px solid black;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lista {
  display : flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}