.kartya {
  border: 1px solid black;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kartya:last-child {
  animation: fadeIn 0.5s ease-in-out forwards;
}

#lista {
  display : flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#csv{
  white-space: pre-wrap;
}